<!-- Main Content -->
<main class="app-content">
  <!-- Carousel Section -->
  <app-carousel></app-carousel>

  <!-- Two Column Layout -->
  <div class="container-fluid content-container">
    <div class="row">
      <!-- Left Column (70%) -->
      <div class="col-lg-8 content-left-column">
        <!-- Upcoming Matches -->
        <app-upcoming-matches></app-upcoming-matches>

        <!-- Recommended Bookmakers -->
        <app-recommended-bookmakers></app-recommended-bookmakers>

        <!-- Table of Contents -->
        <app-table-of-contents></app-table-of-contents>

        <!-- About Component -->
        <app-about></app-about>
      </div>

      <!-- Right Column (30%) -->
      <div class="col-lg-4 content-right-column">
        <!-- Sidebar Component -->
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</main>
